/* OUR STYLES */
.product-item {
  display: grid!important;
  grid-template-columns: 150px auto;
}

.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
