/* OUR STYLES */
.product-item {
  display: grid;
  grid-template-columns: 30% 70%;
}

.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
